include versioneer.py
include src/wormhole/_version.py
include LICENSE README.md NEWS.md
recursive-include docs *.md *.rst *.dot
include docs/wormhole.1 docs/Makefile docs/conf.py
include docs/state-machines/Makefile
include .coveragerc tox.ini snapcraft.yaml
include misc/windows-build.cmd
include misc/*.py misc/web/*.html misc/web/*.js misc/web/*.css
include pyi/*
