
rect.bar {
    stroke: black;
}

.lane-0 {
    fill: #fcc;
}

.lane-1 {
    fill: #cfc;
}

.lane-2 {
    fill: #ccf;
}

.lane-3 {
    fill: #ccf;
}

.lane-4 {
    fill: #ccf;
}

.lane-5 {
    fill: #ccf;
}

.lane-6 {
    fill: #ccf;
}

rect.wait-user {
    fill: #ccc;
}

rect.wait-crypto {
    fill: #bbe;
}

.vis-item .vis-item-overflow {
    overflow: visible;
}

.d3-tip {
    margin: 4px;
    padding: 2px;
    background: #111;
    color: #fff;
}
